body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container{
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: 60vh;
  height: 70vh;
  background-image: url("../public/smartphone-icon-png-mobile-photo-phone-image-mobile-frame-27.png");
  background-size:cover ;
  background-size: 60vh 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container2{
  width: 30vh;
  height: 50vh;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  overflow-x: hidden;
}